<div id="lhsOverlay" class="sidebar-overlay"></div>
<div id="orgTreeOverlay" class="sidebar-overlay" [ngStyle]="{'display': isOrgTreeOpen  ? 'block' : 'none' }"></div>
<div class="sidebar">
  <section class="sidebar-nav">
    <!-- <button class="navbar-toggler mega-nav-toggler d-md-down-none" type="button">
      <i class="icon ic-org-menu" aria-hidden="true"></i>
    </button> -->
    
    <!-- org tree: starts-->     
    <nav [ngClass]="{'show': isOrgTreeOpen, 'navbar-static-top': true}" ><!-- show-->
        <div class="topmenu-open" id="collapsingNavBar" (click)="clickedInsideTree($event)">
            <div class="dropdown mega-menu">
                <button class="navbar-toggler mega-nav-toggler d-md-down-none" type="button" (click)="openOrgTree($event)">
                <i class="icon ic-org-menu" aria-hidden="true"></i>
                </button>
                <div class="inner-container" >
                  <div class="top-breadcrumb-menu" style="opacity: 1;">
                      <div class="text-right clearfix lead-content">
                          <ol class="breadcrumb pull-right">
                              <li *ngFor="let breadCrumbItem of breadCrumbData" class="breadcrumb-item">
                                  <span>{{ breadCrumbItem.breadCrumbText }}</span>
                              </li>
                              <ul class="list-inline">
                                  <li class="list-inline-item">Active Users: <strong>{{ userStatsData.activeUsers }}</strong></li>
                                  <li class="list-inline-item">Dormant: <strong>{{ userStatsData.dormantUsers }}</strong></li>
                                  <li class="list-inline-item">Unregistered: <strong>{{ userStatsData.unRegisteredUsers }}</strong></li>
                                  <li class="list-inline-item">Silent: <strong>{{ userStatsData.silentUsers }}</strong></li>
                              </ul>
                          </ol>
                      </div>
                  </div>
                  <div class="menu-wrap" style="opacity: 1;">

                      <!-- This is various levels of org tree -->
                      <div id="orgTreeHierarchy">
                        <!-- <span class="sapience-loader">
                            <i class="loading-icon"></i>
                            <span class="loading-text">Loading...</span>
                        </span> -->
                          <div *ngFor="let treeLevel of orgTreeNode" [style.z-index]="maxZIndex - treeLevel.level" [hidden]="!treeLevel.isLevelVisible" [className]="treeLevel.treeLevelClass">
                              <div class="innerwrap">
                                  <ul class="dropdown-item-wrap" >
                                      <li *ngFor="let node of treeLevel.treeNodes"
                                          [ngClass]="{'dropdown-submenu isNode-type-o': true,
                                          'isNode-active'   : node.isActive,
                                          'isLeaf-node'     : node.isLeaf,
                                          'isNode-selected' : node.isSelected,
                                          'isNode-expanded' : node.isExpanded,
                                          'isNode-type-o'   : node.isRoot,
                                          'isNode-type-s'   : (node.nodeTypeNumeric === 1 && node.isRoot === false),
                                          'isNode-type-p'   : (node.nodeTypeNumeric === 2 || node.nodeTypeNumeric === 3),
                                          'isNode-type-u'   : node.nodeTypeNumeric === 4 }"
                                          [attr.name]="node.nodeName" [attr.id]="node.nodeDomID" (click)="renderOrgTree($event)">
                                          <a class="dropdown-item">
                                              <div class="img-wrap">
                                                  <span [ngClass]="{
                                                  'custom-badge': true,
                                                  'node-red'    : node.nodeStatus === 1,
                                                  'node-green'  : node.nodeStatus === 2,
                                                  'node-orange' : node.nodeStatus === 3,
                                                  'node-gray'   : node.nodeStatus === 4 }"></span>
                                              </div>
                                              <div class="content-wrap">
                                                  <span (click)="selectTreeNode(node, treeLevel.level)">{{node.nodeName}}</span>
                                                  <small [hidden]="node.nodeTypeNumeric === 4" >{{node.managerName}}</small>
                                                  <span (click)="loadChildTree(node.nodeID, node.nodeTypeNumeric, treeLevel.level, node.nodeDomID, node.isExpanded)" class="dropdown-icon"></span>
                                              </div>
                                          </a>
                                      </li>

                                      <!-- Footer in org Tree visible only on level 0 -->
                                      <li *ngIf="treeLevel.level === 0" class="footer-bottom">
                                          2010-18 Sapience Analytics - Version {{ sapienceVersion }}
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- Ends -->
          
                  </div> 
                  <!-- inner container-->
                </div>
            </div>
        
          <div class="pull-right icon-aside">
              <ul>
                  <li>
                    <a>
                      <span class="icon magnifying-glass"></span>
                    </a>
                  </li>
                  <li>
                    <a>
                        <i  aria-hidden="true" class="icon ic-filter-empty"></i>
                    </a>
                  </li>
              </ul>
          </div> 
        </div>                          
          <!-- org tree: starts-->                 
    </nav>   
    <!-- org tree: ends-->

      <!-- LHS menu -->
      <ul class="nav" (mouseenter) ="mouseEnter()"  (mouseleave) ="mouseLeave()">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['dashboard']"><i class="icon ic-dashboard"></i> <span>{{ 'dashboard' | translate}}</span> </a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" [routerLink]="['power-analytics']"><i class="icon ic-analytics"></i> <span>{{ 'powerAnalytics' | translate}}</span></a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" [routerLink]="['trends']"><i class="icon ic-trend"></i> <span>{{ 'trends' | translate}}</span> </a>
            </li>      
            <li class="nav-item">
              <a class="nav-link" ><i class="icon ic-utilization-trend"></i> <span>{{'capacity_utilization' | translate}}</span></a>
            </li>
            <li class="divider"></li>
            <!-- <li class="nav-title">
              Extras
            </li> -->
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" ><i class="icon ic-output-effort"></i> <span>{{ 'outputEffortMatrix' | translate}}</span> </a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" ><i class="icon ic-daily-effort"></i><span> {{ 'dailyEffort' | translate}}</span> <i class="icon ic-arrow-right" aria-hidden="true"></i></a>
              <ul class="nav-dropdown-items">          
                <li class="nav-item">
                  <a class="nav-link" ><span>{{ 'effortSelectDay' | translate}}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ><span>{{ 'transactionLive' | translate}}</span></a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" ><i class="icon ic-reports"></i> <span>{{'reports' | translate}}</span> <i class="icon ic-arrow-right" aria-hidden="true"></i></a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" ><span>{{'scheduledReports' | translate}}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ><span>{{'timeProfile' | translate}}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ><span>{{'taskSummery' | translate}}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ><span>{{'projectUtilisation' | translate}}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ><span>{{'transactionSummery' | translate}}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ><span>{{'customReports' | translate}}</span></a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" ><i class="icon ic-alerts"></i> <span>{{'alerts' | translate}}</span> <i class="icon ic-arrow-right" aria-hidden="true"></i></a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link"  target="_top"><span>{{'defineAlerts' | translate}}</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  target="_top"><span>{{'viewAlerts' | translate}}</span></a>
                </li>         
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" ><i class="icon ic-timesheets"></i> <span>{{'timesheets' | translate }}</span> <i class="icon ic-arrow-right" aria-hidden="true"></i></a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link"  target="_top"><span>{{'myTimesheet' | translate}}</span></a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link"  target="_top"><span>{{'approveTimesheet' | translate}}</span></a>
                  </li>            
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" ><i class="icon ic-administration"></i><span> {{'administrator' | translate}}</span></a>
      </ul>
      <!-- LHS menu:: ends -->

  </section>

  <footer>&copy;2010-18 Sapience Analytics - Version {{ sapienceVersion }}</footer>

</div>
