<div>
    <!-- Below is content for login page, no other components are added -->
    <div class="bg-login">
        <div class="container">
            <div class="float-right">
                <div class="p-2 card card-round login-wrap">
                    <div class="card-body">
                        <img src="assets/images/logo.png" alt="Sapience" class="Sapience" />
                        <div class="forgot-password-innerwrap">
                            <!-- <p class="text-muted">Sign In to your account</p> -->
                            <div *ngIf="false" class="alert alert-success" role="alert">
                                <span class="icon check_circle"></span> Password has been changed successfully.
                            </div>
                            <div *ngIf="isInvalidAuth" class="alert alert-danger" role="alert">
                                <span class="fa fa-warning"></span>Invalid User Id or Password. Please try again later.
                            </div>
                            <div class="input-group mb-5">
                                <label for="un">Username</label>
                                <span class="input-group-addon"><span class="icon ic-account-selected"></span></span>
                                <input name="un" autofocus [(ngModel)]="model.username" #username="ngModel" required type="text" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-custom btn-round" (click)="emailLink()">OK</button>
                                    <button type="button" class="btn btn-link btn-cancel text-uppercase" (click)="cancelForgotPwd()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <footer class="footer-text"> &copy;2010-18 Sapience Analytics - Version {{ sapienceVersion }}</footer>
                    </div>
                </div>
            </div>
            <div class="text-white float-right login-slider" >
                <!--Carousel Wrapper-->
                <app-login-carousel></app-login-carousel>
                <!--/.Carousel Wrapper-->
            </div>

        </div>
    </div>
</div>
<!-- /.conainer-fluid -->