// Here you can add other styles
$brandColor : #9f2116;
$leftPanel : #1b1e39;
$workingOnline : #76c5fb;
$shortFall : #e9455b;
$private : #ff7e90;
$nonCoreActivities : #4bddf5;
$coreActivities : #41b3ff;
$greenStatus : #8dcb58;

$sidebar-minimized-width: 64px;
$sidebar-width: 288px;
$leftPanel-500 : #002e5a;
$navbar-height: 45px;
$font-sm: 12px;
$menu-label: 14px;


@font-face {
  font-family: 'SourceSansPro';
       src:  url('../fonts/sourcesanspro-regular-webfont.eot?3g9ufc');
       src:  url('../fonts/sourcesanspro-regular-webfont.eot?3g9ufc#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.ttf?3g9ufc') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.woff?3g9ufc') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.svg?3g9ufc#sourcesanspro-regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sapienceIcons';
  src: url('../fonts/sapienceIcons.ttf?3g9ufc') format('truetype'),
    url('../fonts/sapienceIcons.woff?3g9ufc') format('woff'),
    url('../fonts/sapienceIcons.svg?3g9ufc#sapienceIcons') format('svg');
    font-weight: normal;
    font-style: normal;
} 
.magnifying-glass:before {
  content: "\e90c";
}
body { 
  font-size: 12px;
  font-family: 'SourceSansPro', sans-serif;
  line-height: 1.29;
  letter-spacing: 0.5px;
  background:#fff;
}
a {
  color: $brandColor;
}
.btn-link{
  color: $leftPanel;
  font-weight: 600;
}
body small{
  font-size: 11px;
}
body strong{
  font-weight: bold;
}
.icon{
  font-size: 20px;
}
.btn-custom{
  padding: 4px 15px 0px;
  font-size: $font-sm;
  background: $brandColor;
  color: $white !important;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-round{
  border-radius: 12px;
}
.list-inline{
  display: inline-block;
}
.mb-3{
  margin-bottom: 20px !important;
}
.mb-5{
  margin-bottom: 30px !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 11px;
  color: 000;
  opacity: 0.4;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 11px;
  color: 000;
  opacity: 0.4;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 11px;
  color: 000;
  opacity: 0.4;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 11px;
  color: 000;
  opacity: 0.4;
}
.sapience-loader {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 9999;
  .loading-icon{
      background: url(../../assets/images/loader.gif) no-repeat;
      height: 40px;
      width: 40px;
  }
  .loading-text {
    display: inline-block;
    color: #333;
    vertical-align: top;
    padding: 12px 0 0 10px;
  }
}

.custom-checkbox{
  cursor: pointer;
  input[type="checkbox"]{
    display: none;
    &+ .label-text:before{
      display: inline-block;
      transition: all 0.2s ease-in-out;
      margin: -6px 15px 0 0;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
      border-radius: 2px;
      color: #dedede;
      content: '';
    }
    &:checked + .label-text:before{
      background: transparent;
      text-align: center;
      line-height: 1.5em;
      color: #dedede;
      content: '\2714';
    }
  }
}
.form-control:focus,
.form-control:active{
  box-shadow:0 0 4px 2.5px rgba(0, 0, 0, 0.05);
  border:1px solid rgba(27, 30, 57, 0.05);
  // font-weight: bold;
}
.breadcrumb-item+.breadcrumb-item::before{
  content:"\f105";
  font: normal normal normal 14px/1 FontAwesome;
  vertical-align: middle;
  margin-top: -5px
}
.breadcrumb .breadcrumb-item  {
  font-weight: bold;
  ul.list-inline {
    font-weight: normal;
  }
}
.breadcrumb-item {  
  ul.list-inline li {
    font-weight: normal;
    border-right: 1px solid #333;
    padding-right: .5rem;
    strong {
      font-size: 13px;
    }
    &:last-child{
      border-right:none;
    }
  }
}
.sidebar{
    background: $leftPanel-500;
    footer{
      display: none;
      padding: 21px 15px;
      opacity: 0.6;
      font-size: 12px;
      letter-spacing: -0.1px; 
      position: fixed;
      bottom: 21px;     
    }
}
.sidebar-fixed .sidebar{
    overflow: visible;
    // @include sidebar-width($sidebar-borders, $sidebar-minimized-width);
    // height: calc(100vh - 45px);
    height: 100vh;
    width: auto;
    margin-top: -45px;
}
.hidden-cn {
    display: none;
}
    .sidebar {
      z-index: $zindex-sticky - 1;
      .sidebar-nav {
        overflow: visible;
        // @include sidebar-width($sidebar-borders, $sidebar-minimized-width);
        width: auto;
        min-height: 100vh;
        .nav{
          &:hover{
            min-height: auto;
          }
        }
        .nav-link{
          &:hover{
              width: $sidebar-width;
              background: $leftPanel;
          }
        }
      }
      
      .nav {
        // @include sidebar-width($sidebar-borders, $sidebar-minimized-width);
        width: auto;
        margin-top: 16px;
        min-height:auto;
        &:hover {
          min-height: 100%;
        }
        &:hover .nav-item{
            width: $sidebar-width;
        }
      }

      .nav-divider, .divider,
      .nav-title,
      .sidebar-footer,
      .sidebar-form,
      .sidebar-header {
        display: none;
      }

      .sidebar-minimizer::before {
        width: 100%;
        transform: rotate(-180deg);
      }

      .nav-item {
        width: $sidebar-minimized-width;
        overflow: hidden;
        border-left: 0 !important;
        margin: 5px 0;
        > .nav-link{
          font-size: $menu-label;
          padding-left: 15px;
          padding:10px 15px 16px;
          i{
            @include sidebar-width($sidebar-borders, $sidebar-minimized-width);
            text-align: left;
            padding-right: 22px;
            width: auto !important;
          }
          span {
            top: 5px;
            position: relative;
          }
        }
        &:hover {
          width: $sidebar-width;
          overflow: visible;
          > .nav-link {
            background: $sidebar-nav-link-hover-bg;
            i {
              color: $sidebar-nav-link-hover-color;
            }  
            span {
              display: inline-block;
            }          
          }
        }
      }
      .nav-link {
        position: relative;
        padding-left: 0;
        margin: 0;
        white-space: nowrap;
        border-left: 0 !important;
        text-transform: uppercase;
        opacity: 0.6;
        letter-spacing: 0.8px;
        i {
          display: block;
          float: left;
          width: $sidebar-minimized-height;
          font-size: 20px;
          &.ic-arrow-right {
            font-size: 14px;
            right: -15px;
            position: absolute;
            top: 13px;
          }
          
        }
        &.active{
            background: $leftPanel;
            opacity: 1;
            background-blend-mode: multiply;
            i{
                color: $white;
            }   
        }
        .badge {
          position: absolute;
          right: 15px;
          display: none;
        }

        &:hover {
          width: $sidebar-width;
          background: $sidebar-nav-link-hover-bg;
          opacity: 1;
          background-blend-mode: multiply;
          .badge {
            display: inline;
          }
        }

        &.nav-dropdown-toggle::before {
          display: none;
        }
      }

      // .nav-dropdown-items {
      //   .nav-item {
      //     width: $sidebar-width;
      //     .nav-link {
      //       width: $sidebar-width;
      //     }
      //   }
      // }

      .nav > .nav-dropdown {
        > .nav-dropdown-items {
          display: none;
          max-height: 1000px;
          background: $sidebar-bg;
        }

        &:hover {
          background: $sidebar-nav-link-hover-bg;
          > .nav-dropdown-items {
            left: $sidebar-minimized-width;
            position: fixed;
            left: 288px !important;
            top:0;
            padding-top: 60px;
            height: 100%;
            width: $sidebar-width;
            display: block;
          }
        }
      }
    }
//Left Menu Toggle Override ends here
.sidebar .nav-item:hover,
  .nav-dropdown-items .nav-item{
    width: auto;
  }
.aside-menu-fixed .main, .aside-menu-fixed .app-footer{
    margin-right: 0;
    margin-left: 64px;
}
.breadcrumb{
    margin-bottom: 0;
    border: none;
    font-size: $font-sm;
    color: $leftPanel;
    a{
      color: $leftPanel;
      font-weight: 600;
    }
    &.active {
      font-weight: 600;
    }
}
.sidebar .nav-link i{
    color: $white;
}
.app-header.navbar{
    height: $navbar-height;
    left: $sidebar-minimized-width;
    right: 0;
    width: auto;
    top:0;
    .nav-item {
      &:first-child .nav-link,
      &:nth-child(3) .nav-link{
        border-left:none !important;
      }
      .nav-link {
        border-left: solid 0.5px rgba(27, 30, 57, 0.2) !important;      
        .icon {
          font-size: 16px;
          color:#bfbfbf !important;
        }  
        &.active {
          .icon {
            color:#29363d !important;
          }
        }
        
      }
      
    }
}
.mega-nav-toggler{
  width: $sidebar-minimized-width;
  background: $brandColor;
  padding: 14px 0 9px 15px;
  color: $white;
  font-weight: normal;
  text-align: left;
  &:focus {
    outline: none;
    outline: -webkit-focus-ring-color auto 0px;
  }
  .icon {
      font-size:16px;
  }
}
.header-fixed .app-body{
    margin-top: $navbar-height;
}

// .sidebar .nav > .nav-dropdown > .nav-dropdown-items{
//   left: 100% !important;
//   top: 0;
// }
.sidebar .nav > .nav-dropdown > .nav-dropdown-items .nav-item a{
  padding-left: 36px;
}
.sidebar .nav-item:hover > .nav-link,
.sidebar .nav > .nav-dropdown:hover,
.sidebar .nav-item.active > .nav-link{
  background: $leftPanel;
  opacity: 1;
  background-blend-mode: multiply;
}
.sidebar .nav > .nav-dropdown > .nav-dropdown-items{
  background: #001e44; /* Old browsers */
  background: -moz-linear-gradient(to right,  #001e44 0%, #002e5a 15%); /* FF3.6-15 */
  background: -webkit-linear-gradient(to right,  #001e44 0%,#002e5a 15%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #001e44 0%,#002e5a 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e44', endColorstr='#002e5a',GradientType=1 ); /* IE6-9 */
}
.sidebar.sidebar-open,
.sidebar.sidebar-open .nav-item{
  width: $sidebar-width;
}
.sidebar-overlay {
  background: rgba(255,255,255,0.9);
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
}
.sidebar-menuOpen {
  .mega-nav-toggler  {
    visibility: hidden;
  }
  .sidebar-overlay { 
    display: block
  }
  &.header-fixed .app-body{ 
    z-index: 1021;
    position: relative;
  }
  footer{
    display: block;
    &:hover{
      opacity: 1;
    }
  }
}
.nav-dropdown{
  .nav-link{
    .fa{
      position: absolute;
      right: -22px;
      top: 12px;
      width: auto !important;
    }
  }
}
.aside-toggle{
  .nav-link{
    position: relative;
    z-index: 2;
  }
}
.side-wrapper{
  position: fixed;
  width: 320px;
  background: $white;
  top: 0;
  bottom: 0;
  right: -320px;
  padding-top: 69px;
  box-shadow: 0px 0 15px #ccc;
  transition: .5s all;
  .inner-wrapper{
    padding: 20px;
  }
  &.active{
    right: 0;
  }
}
.user-profile{
  .user-name{
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $leftPanel;
    font-weight: 600;
  }
  .last-web-login{
    opacity: 0.6;
    font-size: 11px;
  }
  .change-pwd{
    text-decoration: underline;
    display: inline-block;  
    color: $black;
    opacity: 0.7;
    margin-top: 10px;
    &:hover{
      color: $leftPanel;
      opacity: 1;
    }
  }
  .list-group-item{
    border: none;
    border-top: solid 1px #dedcdc;
    a{
      font-size: 13px;
      font-weight: 600;
      color: $leftPanel;
    }
    .fa{
      font-size: 16px;
      color: #b4b5be;
    }
  }
}
.list-group-item:focus, .list-group-item:hover{
  z-index: auto;
}



.bg-login{
  // background: #9f2116; /* Old browsers */
  // background: -moz-linear-gradient(-45deg, #9f2116 0%, #002e5a 76%, #002e5a 76%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg, #9f2116 0%,#002e5a 76%,#002e5a 76%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg, #9f2116 0%,#002e5a 76%,#002e5a 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f2116', endColorstr='#002e5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background: linear-gradient(134deg, #f6f6f6, #dcdcdc);
  height:100vh;
  padding-top: 16vh;
}

.login-slider{
  display: flex;
  justify-content: space-around;
  .carousel-indicators li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #989898;
    &:hover,
    &.active{
      background: #989898;
    }
  }
}
.login-wrap{
  box-shadow: 0 1px 19px 10px rgba(0, 0, 0, 0.1);
  label{
    text-transform: uppercase;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: $leftPanel;
    font-size: $font-sm;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .input-group-addon{
    min-width: auto;
    position: absolute;
    left: 12px;
    top: 23px;
    height: 29px;
    z-index: 4;
    font-size: 16px;
    border-right: 1px solid #ddd;
    padding-right: 12px;
    .icon{
      color: #d9d9de;
      font-size: 16px;
      position: relative;
      top: 5px;
    }
  }
  .input-group .form-control{
    padding-left: 50px;
    width: 100%;
    border:1px solid rgba(27, 30, 57, 0.2);
    border-radius: 5px;
  }
  .footer-text{
    font-size: $menu-label;
    opacity: 0.6;
    color: $leftPanel;
    letter-spacing: normal;
    padding-bottom: 18px;
  }
  .fa-warning{
    margin-right: 10px;
  }
}
.login-innerwrap{
  padding-top: 56px;
  padding-bottom: 50px;
  .alert {
    position: absolute;
    top: 68px;
    z-index: 2;
    left:10px;
    right:10px;
  }
  .btn-custom{
    font-size: 14px;
    padding: 8px 57px 4px;
    border-radius: 24px;
    letter-spacing: 1.2px;
    line-height: 1.11;
  }
  .forget-link{
    font-size: $font-sm;
    opacity: 0.8;
    color: $leftPanel;
    text-decoration: underline;
    letter-spacing: normal;
    font-weight: 400;
  }
  .btn-cancel{
    letter-spacing: 1.2px;
    margin-top:3px;
    text-align: left;
    color: #1b1e39;
  }
}

.forgot-password-innerwrap, .confirm-password-innerwrap{
  padding-top: 56px;
  padding-bottom: 169px;
  .btn-custom{
    font-size: 14px;
    padding: 8px 36px 4px;
    border-radius: 24px;
    letter-spacing: 1.2px;
    line-height: 1.11;
    width: 108px;
    height: 30px;
  }
  .btn-cancel{
    letter-spacing: 1.2px;
    margin-top:3px;
    text-align: left;
    color: #1b1e39;
  }
}
.confirm-password-innerwrap {
  padding-bottom: 169px;
}
.card-round,
.input-group .form-control{
  border-radius: 7px;
}
.alert{
  border-radius: 5px;
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
  .icon{
    // padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
  }
  &.alert-danger{
    background: #fcecee;
    color: #e9455b;
    border: solid 1px #e9455b;
    letter-spacing: 0.3px;
  }
  &.alert-success{
    background: #f3f9ee;
    color: #8ccb58;
    border: 1px solid #8ccb58;
  }
}


// Top NavMenu
.mega-menu{
  position: initial;
  .breadcrumb{
    padding: 13px 32px;
    .list-inline{
      text-transform: capitalize;
    }
  }
  .dropdown-menu{
    display:block;
    }
  &:hover{
    .dropdown-menu{
      display:block;
      position: absolute;
    }
}
  .dropdown-menu{
    width: 100%;
    margin-top: 0px;
    overflow-x: auto;
    table{
      td{
        border-top: 0;
      }
    }
  }
}
.navbar-static-top{
  padding: 0;
  .topmenu-open {
    background: transparent;
      .icon-aside{
        position: absolute;
        padding: 15px 32px;
        display: none;
        right: 0;
        top: 0;
        a{
          color: $white;
          opacity: 0.4;
          .icon{
            font-size: 15px;
          }
        }
        li{
          padding-right: 15px;
          padding-left: 15px;
          display: inline-block;
          border-right: solid 0.5px rgba(255, 255, 255, 0.3);
          &:last-child{
            padding-right: 0;
            border: none;
          }
        }
      }
    .inner-container{
      display: none;
    }
  }
  &.show{
    .topmenu-open{
      background: $brandColor;
      li.icon-aside{
        display: inline-block;
      } 
    }
    .inner-container,
    .icon-aside{
      display: block;
    }    
  }
}
.dropdown-item {
  &:active, &:hover, &:focus {
    background: transparent !important;
  }
}
.topmenu-open{
  width: 100%;
  //background: $brandColor;
  .dropdown-menu{
    height: 90vh;
    .lead-content{
      border-bottom: 2px solid #d9d9d9;
    }
  }
  .mega-menu{
    > a .icon:before{
      color: #fff;
    }
    .menu-wrap{
      position: absolute;
      height: 88.5vh;
      overflow-x: auto;
      width: 100%;
    }
    .dropdown-nav{
      top: 0;
      height: 100%;
      display: flex;
      background: #f8f8f8;
      background-blend-mode:multiply;
      > li{
        box-shadow: 3px 0 16px #dedede;

      }
      li{
        width: 288px;
        flex: 0 0 288px;
        // border-right: solid 0.5px rgba(27, 30, 57, 0.2);
        font-size: 14px;
        letter-spacing: 0.8px;
        line-height: 1.11;
        a{
          padding-top: 31px;
          border-bottom: none;
          padding-bottom: 20px;
          color:#1b1e39;
          padding-left: 21px;
          &:hover{
            // font-weight: bold;
            // background: transparent;
            .dropdown-icon{
              background-color: rgba(27, 30, 57, 0.1);
              &:before{
                content: "\f104";
              }
            }
          }
        }
        small{
          display: block;
          font-size: 11px;
          line-height: 1.41;
          opacity: 0.6;
          color: $black;
          text-transform: capitalize;
        }
        &.isNode-active{
         a{
            font-weight: 600;
            small{
              font-weight: normal;
            }
            .dropdown-icon{
              background: rgba(27, 30, 57, 0.1);
            }
          }
        }
        &.isLeaf-node{
          a {
            .dropdown-icon {
              display: none;  
            }
          }
        }
        &.isNode-expanded{
          a {
            .dropdown-icon {
              background: rgba(27, 30, 57, 0.1);
              &::before{
                content:"\f104";                
              }
            }
          }
        }
        &.isNode-selected{
          a {
            font-weight: bold;
            .dropdown-icon {
              &::before{
                content:"\f105";                
              }
            }
          }
          &.isNode-expanded{
            a {
              .dropdown-icon {
                background: rgba(27, 30, 57, 0.1);
                &::before{
                  content:"\f104";                
                }
              }
            }
          }
        }
        &.isNode-type-o {
          .custom-badge {             
            background:url(../../assets/images/orgTree/OrgLevel_1x.png) no-repeat 0px -45px; 
          }         
        }
        &.isNode-type-p {
          .custom-badge {             
            background:url(../../assets/images/orgTree/PartnerLevel_1x.png) no-repeat 0px -45px;
            border-radius: 0px;
          }         
        }
        &.isNode-type-l {
          .custom-badge {             
            background:url(../../assets/images/orgTree/LocationLevel_1x.png) no-repeat 0px -45px; 
          }         
        }
        &.isNode-type-s {
          .custom-badge {             
            background:url(../../assets/images/orgTree/SubOrgLevel_1x.png) no-repeat 0px -45px; 
          }         
        }
        &.isNode-type-t {
          .custom-badge {             
            background:url(../../assets/images/orgTree/TeamLevel_1x.png) no-repeat 0px -45px; 
          }         
        }
        &.isNode-type-u {
          .custom-badge {             
            background:url(../../assets/images/orgTree/UserLevel_1x.png) no-repeat 0px -45px; 
          }         
        }
        .dropdown-item-wrap{
          li{
            min-height: 70px;
            &.footer-bottom{
              position: absolute;
              font-size: 12px;
              padding: 5px;
              color: $leftPanel;
              opacity: 0.6;
              bottom: 30px;
              min-height: auto;
              left: 14px; 
            }
          }
          .img-wrap{
            float: left;
            padding-right: 12px;
            img{
              width: 20px;
              vertical-align: top;
            }
          }
          .dropdown-icon{
            position: absolute;
            right: 0px;
            top: 30px;
            padding: 3px 24px 2px 10px;
            border-radius: 3px;
            &::before{
              content:"\f105";
              display: inline-block;
              font: normal normal normal 14px/1 sapienceIcons;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
            &:after{
              content: '';
              position: absolute;
              top: 0px;
              right: 48px;
              width: 1px;
              height: 20px;
              opacity: 0.3;
              background-color: #1b1e39;
            }
          }
        }
      }
    }
  }
}


.dropdown-nav{
  height: 100%;
  display: flex;
  background: #f8f8f8;  
  box-shadow: 3px 0 15px #dedede;
  &:hover .dropdown-item-wrap{
      overflow: auto;
  }
 > .innerwrap{
    box-shadow: 3px 0 15px rgba(27, 30, 57, 0);
  }
  .innerwrap{
    width: 288px;
    flex: 0 0 288px;
    // border-right: solid 0.5px rgba(27, 30, 57, 0.2);
    font-size: 14px;
    letter-spacing: 0.8;
    overflow: hidden;
    a{
      padding-top: 31px;
      border-bottom: none;
    }
    small{
      display: block;
      font-size: 11px;
      line-height: 1.41;
      opacity: 0.6;
      color: $black;
      text-transform: capitalize;
    }
    &.active{
     a{
        font-weight: 600;
        small{
          font-weight: normal;
        }
        .dropdown-icon{
          background: rgba(27, 30, 57, 0.1);
        }
      }
    }
    .dropdown-item-wrap{
      padding-bottom:30px;
      height: 100%;
      position: relative;
      li{
        min-height: 70px;
        color: #0f1c3b;
        &.footer-bottom{
          position: fixed;
          background:#f8f8f8;
          font-size: 12px;
          padding: 5px 5px 0 21px;
          color: $leftPanel;
          bottom: 30px;
          min-height: auto;
          width:275px;
          letter-spacing: normal
        }
      }
      .img-wrap{
        float: left;
        padding-right: 12px;
        img{
          width: 20px;
          vertical-align: top;
        }
      }
      .dropdown-icon{
        position: absolute;
        right: 0px;
        top: 30px;
        padding: 3px 24px 2px 10px;
        border-radius: 3px;
        &::before{
          content:"\f105";
          display: inline-block;
          font: normal normal normal 14px/1 sapienceIcons;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        &:after{
          content: '';
          position: absolute;
          top: 0px;
          right: 48px;
          width: 1px;
          height: 20px;
          background-color: #d1d3d4;
        }
      }
    }
  }
}

.dropdown-submenu{
  .dropdown-item-wrap{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    box-shadow: 3px 0 15px #dedede;

  }
  &.active{
   > .dropdown-item-wrap{display: block;}
   .dropdown-icon{
      &::before{
        content:"\f104" !important;
    }
  }
  }
}
.custom-badge{
    font-size: 15px;
    display: inline-block;
    border-radius: 50%;
    line-height: 1.6;
    color: #fff;
    width: 20px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    &.node-red {
      background-position: 0px -110px !important;
    }
    &.node-orange {
      background-position: 0px -175px  !important;
    }
    &.node-green {
      background-position: 0px -45px  !important;
    }
    &.node-gray {
        background-position: 0px -240px  !important; 
    }
}
.badge-muted{
  background: #dddddd;
}
.badge-square{
  border-radius: 5px;
}


.navbar-static-top.show{
  position: fixed;
    z-index: 1155;
    width: 91%;
    height: 100%;
    left: 0;
    border-right:1px solid #cccdd2;
    background: #fff;
    .sidebar .mega-menu:hover{
      width: 100%;
    }
}
.header-fixed .app-header{
  z-index: 101;
}

$max: 20;
@for $i from 1 through $max / 2 {
    $value: $i * 1;
    $left: $i * 288px;
    .dropdown-submenu-#{$value} {
       left: $left;
       position: absolute;
       top: 40px;
       z-index: 9999#{$value};
    }
}
.top-breadcrumb-menu{
  background: #fff;
  border-bottom: 2px solid #eaeaea;
  .breadcrumb-item {
    margin-right: 10px;
    margin-top: 3px;
  }
  .list-inline .list-inline-item {
      font-size:12px;
      strong{
        font-size: 15px;
      }
  }
}
.dropdown-submenu-0{
  position: absolute;
  z-index: 99999;
}


// Dashboard
app-dashboard{
  display: block;
  min-height: auto;
}
.dashboard-wrapper{
  height:calc(100vh - 45px);
}
.date-range-wrapper{
  font-size: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  .list-inline-item{
    a{
      padding: 3px 15px 2px;
      line-height: 1.5;
      color: $leftPanel;
      font-family: 'SourceSansPro', sans-serif;
      text-decoration: none;
      border: 1px solid transparent;
      &:hover{
        border: 1px solid #9f2116;
        color: #9f2116;
        border-radius: 12px;
      }
    }
    &:not(:last-child){
      margin-right: .3rem;
    }
    &.active a{
      border: 1px solid #9f2116;
      color: #9f2116;
      border-radius: 12px;
    }
    &.icon{
      .icon{font-size: 16px;}
      &.active a{
        border: none;
      }
    }
    &:last-child{
      font-size: 11px;
      color: #000;
      opacity: .6;
      padding-left: 20px;
      border-left: 1px solid #ccc;
      line-height: 2;
      vertical-align: text-bottom;
      a:hover{
        border: none;
      }
    }
  }
}
.date-range-wrapper .list-inline-item.icon{
  a:hover{
    border: 1px solid transparent;
  }
}
.btn-group{
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  .icon{
    font-size: 16px;
  }
  .btn{
    background-color: transparent;
    font-size: 16px;
    padding: 3px 20px;
    &:hover{
      color: #9f2116;
    }
    &:focus,
    &:active{
      box-shadow: none;
    }
    &.active{
      .icon{
        color: #9f2116;
      }
    }
  }
}
.btn-bordered{
  border-radius: 12px;
  border: 1px solid #9f2116;
  padding: 3px 20px 0px;
}
.dot{
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
}
.chart-label{
  font-size: 12px;
  color: $leftPanel;
  padding-top: 10px;
  li{
    &:last-child{
      padding-left: 25px;
    }
  }
}

.card{
  box-shadow: 0 1px 13.5px 10px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  .card-body{
    padding: 20px 24px;
  }
}



.ic-new-page{
  color: #bdbdbd;
  font-size: 16px;
}

// Chart 3
.chart-wrap{
  height: 270px;
  overflow: auto;
  width: 100%;
}
.chart-leaderboard{
  width: 70%;
  margin: auto;
}
.list-group-flush{
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-between;
  padding-right: 15px;
  li{
    // flex: 1 0 40%;
    width: 45%;
    border-top: 0;
    position: relative;
    .custom-badge{
      font-size: 20px;
      // padding: 3px 9px 0;
      display: inline-block;
      text-align: center;
      padding: 5px 5px 1px;
      line-height: 1.2;
      width: 28px;
      height: 28px;
    }
    h3{
      font-weight: bold;
      color: $leftPanel;
      font-size: 18px;
    }
    .text-muted{
      font-size: 13px;
    }
  }
  li.list-group-item{
      position: relative;
      justify-content: space-between;
      display: block;
      padding: .75rem 1.25rem ;
      margin-bottom: 1px;
      background-color: #fff;
      border-bottom: 1px solid rgba(0,0,0,.125);
      &:last-child{
        border-bottom: 1px solid rgba(0,0,0,.125) !important;
      }
  }
}
.inner-aside{
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  .badge{
    position: absolute;
    right: 20%;
    top: 15px;
    padding: 4px 15px;
    &.badge-success{
      background-color: rgba(140, 203, 88, 0.1);
      border: solid 1px #8ccb58;
      color: #8ccb58;
    }
    &.badge-danger{
      background-color: rgba(233, 69, 91, 0.1);
      border: solid 1px #e9455b;
      color: #e9455b;
    }
  }
}

// card button - application -dashboard
.nav-activity{
  .btn{
    padding: 3px 20px 0;
    color: $leftPanel;
    border-radius: 12px;
    &:hover,
    &.active{
      color: #9f2116;
      border: 1px solid #9f2116;
      font-weight: bold;
    }
    &:focus{
      box-shadow: none;
    }
  }
}


// U T I L I S A T I O N - Dashboard
.utilisation-wrapper{
  box-shadow: 0 1px 13.5px 10px rgba(0, 0, 0, 0.04);

}
.utilisation-details{
  padding-top: 40px;
  li{
    padding: 35px;
    position: relative;
    &:first-child{
      padding-left: 0;
    }
    .title{
      font-size: 40px;
      font-weight: 300;
      color: $leftPanel;
      font-family: 'Source Sans Pro', sans-serif;
      display: inline-block;
      margin-right: 10px;
      small{
        font-size: 16px;
        font-weight: normal;
        font-family: 'Source Sans Pro', sans-serif;
      }
    }
    .lead{
      font-size: 16px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #767888;
      text-transform: uppercase;
      margin-top: 17px;
      font-weight: normal;
      text-align: center;
      span{
        margin-right: 8px;
      }
    }
  }
  .inner-aside .badge{
    position: static;
    display: inline-block;
  }
}

.dot-sm{
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 1099px){
  .utilisation-details li{
    padding: 35px 8px;
  }
  .utilisation-details li .title {
        font-size: 20px;
    }
    .chart-label li:last-child {
      padding-left: 0;
    }
    .card-body {
      & >  .mb-4 {
        margin-bottom:10px!important;
      }
    }
    .login-slider {
      margin-right: 10%;
    }
    .bg-login .container {
      padding-right: 72px;
    }
}
@media screen and (max-width: 1360px){
  .utilisation-details li .title {
      font-size: 32px;
  }
}
@media screen and (max-width: 1270px){
  .utilisation-details li .title {
      font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .main .container-fluid{
    padding: 0 8px;
  }
  .topmenu-open .mega-menu .dropdown-menu{
    overflow-x: auto;
    overflow-y: hidden;
    top: auto;
  }
  .list-group-flush li .inner-aside .badge{
    right: 0;
  }
}
@media screen and (min-width: 1280px){
  .main .container-fluid{
    padding: 0 25px;
  }
  .navbar-static-top.show{
    width: 1152px;
  }
  
}
@media screen and (min-width: 1600px){
  .navbar-static-top.show{
    width: 1440px;
  }
  .login-slider {
    margin-right: 12%;
  }
  .bg-login .container {
    padding-right: 216px;
  }
}
@media screen and (min-width: 2560px){
  .main .container-fluid{
    padding: 0 32px;
  }
  .login-slider {
    margin-right: 9%;
  }
  .bg-login .container {
    padding-right: 286px;
  }
}