.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sapienceIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.magnifying-glass:before {
  content: "\e90c";
}
.control_point:before {
  content: "\e3ba";
}
.check_circle:before {
  content: "\e86c";
}
.highlight_off:before {
  content: "\e888";
}
.lock_outline:before {
  content: "\e899";
}
.ic-account-selected:before {
  content: "\e906";
}
.ic-new-page:before {
  content: "\e908";
}
.ic-org-menu:before {
  content: "\e900";
  color: #fff;
}
.ic-configure:before {
  content: "\e901";
}
.ic-share:before {
  content: "\e904";
}
.ic-arrow-left:before {
  content: "\f104";
}
.ic-arrow-right:before {
  content: "\f105";
}
.ic-arrow-up:before {
  content: "\f106";
}
.ic-arrow-down:before {
  content: "\f107";
}
.ic-administration:before {
  content: "\e902";
}
.ic-alerts:before {
  content: "\e903";
}
.ic-analytics:before {
  content: "\e905";
}
.ic-capacity-utilization-normal:before {
  content: "\e907";
}
.ic-daily-effort:before {
  content: "\e909";
}
.ic-dashboard:before {
  content: "\e90b";
}
.ic-output-effort:before {
  content: "\e90f";
}
.ic-reports:before {
  content: "\e911";
}
.ic-timesheets:before {
  content: "\e912";
}
.ic-trend:before {
  content: "\e914";
}
.ic-utilization-trend:before {
  content: "\e916";
}
.ic-account:before {
  content: "\e917";
}
.ic-save:before {
  content: "\e918";
}
.ic-filter-empty:before {
  content: "\e91b";
}
.ic-dashlit-leaderboard:before {
  content: "\e91d";
}
.ic-calander:before {
  content: "\e921";
}
.ic-dashlit-view-selected:before {
  content: "\e922";
}
