<router-outlet></router-outlet>
<div class="dashboard-wrapper">
    <div class="date-range-wrapper">   
        <ul class="list-group list-inline">

            <li *ngFor="let dt of dateRanges" [ngClass]="{'active': dt.ID === selecteDateRange.ID}" (click)="dateRangeClicked(dt)" class="list-inline-item">
                <a href="">{{ dt.TX }}</a>
            </li>

            <li class="list-inline-item icon"><a href=""> <span class="icon ic-calander"></span></a></li>
            <li class="list-inline-item">{{ selecteDateRangeText }}</li>
        </ul>
    </div>

    <!-- Donut Chart Section -->
    <div class="utilisation-wrapper card">
        <div class="row">
            <div class="col-sm-4 text-center">
                <!-- <img  src="assets/images/chart-placeholder.png" class="img-fluid" alt="chart Placeholder" style="max-height: 247px;" > -->
                <div>
                    <div id="container" style="position:absolute; left:0px; top:0px;"></div>
                    <div id="addText" style="position:absolute; left:0px; top:0px;"></div>
                </div>
                <div class="chart-wrap" #donughtChartTarget style="height:28vh"></div>
                
            </div>
            <div class="col-sm-8 utilisation-details">
                <ul class="list-inline inner-aside">
                    <li class="list-inline-item">
                        <h3 class="title">{{ kpiItems.workTime }}<small> hrs.</small></h3>
                        <span class="badge up badge-danger badge-pill"><i aria-hidden="true" class="fa fa-arrow-down"></i> {{ kpiItems.workTimePercent }}%</span>
                        <p class="lead"> <span class="dot dot-sm bg-primary"></span>work time</p>
                    </li>
                    <li class="list-inline-item">
                        <h3 class="title">{{ kpiItems.workTimeLoss }}<small> hrs.</small></h3>
                        <span class="badge up badge-success badge-pill"><i aria-hidden="true" class="fa fa-arrow-up"></i> {{ kpiItems.workTimeLossPercent }}%</span>
                        <p class="lead"><span class="dot dot-sm bg-danger"></span>work time loss</p>
                    </li>
                    <li class="list-inline-item">
                        <h3 class="title">{{ kpiItems.attendance }}<small> %</small></h3>
                        <span class="badge up badge-danger badge-pill"><i aria-hidden="true" class="fa fa-arrow-down"></i> {{ kpiItems.attendancePercent }}%</span>
                        <p class="lead">Attendance</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="text-center mb-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="highChart1" class="btn" [ngClass]="{'active': currentClickedChart === 'highChart1' }" (click)="changeView($event, 'highChart1')"><span class="icon ic-dashlit-view-selected"></span></button>
                    <button type="button" id="highChart2" class="btn" [ngClass]="{'active': currentClickedChart === 'highChart2' }" (click)="changeView($event, 'highChart2')"><span class="icon ic-trend"></span></button>
                    <button type="button" id="highChart3" class="btn" [ngClass]="{'active': currentClickedChart === 'highChart3' }" (click)="changeView($event, 'highChart3')"><span class="icon ic-dashlit-leaderboard"></span></button>
                </div>
            </div>

            <div [hidden]="(currentClickedChart === 'highChart1')? false : true">
                <div>
                    <div class="row">
                        <ul class="list-inline col-sm-4 nav-activity">
                            <li class="list-inline">
                                <a href="" class="btn text-uppercase">Activity</a>
                            </li>
                            <li class="list-inline"><a href="" class="btn text-uppercase">Application</a></li>
                        </ul>
                        <ul class="list-group list-inline col-sm-4 chart-label text-center">
                            <li class="list-inline-item"> <span class="dot bg-primary"></span> CORE (160hrs,80%)</li>
                            <li class="list-inline-item"> <span class="dot bg-info"></span> NON-CORE (40hrs,20%)</li>
                        </ul>
                    </div>
                </div>
                <div class="chart-wrap" #heatMapChartTarget></div>
            </div>
            <div class="chart-wrap" [hidden]="(currentClickedChart === 'highChart2')? false : true" #lineChartTarget></div>
            <div [hidden]="(currentClickedChart === 'highChart3')? false : true" class="chart-leaderboard chart-wrap">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="custom-badge badge-success badge-block">P</span>
                        <div class="inner-aside">
                            <h3>Mars</h3>
                            <span class="text-muted">Average work time 7.6 hrs.</span>
                            <span class="badge up badge-success badge-pill"><i class="fa fa-arrow-up" aria-hidden="true"></i> 14%</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="custom-badge badge-warning badge-block">P</span>
                        <div class="inner-aside">
                            <h3>Neptune</h3>
                            <span class="text-muted">Average work time 7.6 hrs.</span>
                            <span class="badge down badge-danger badge-pill "> <i class="fa fa-arrow-down" aria-hidden="true"></i>  8%</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="custom-badge badge-success badge-round">U</span>
                        <div class="inner-aside">
                            <h3>Mars</h3>
                            <span class="text-muted">Average work time 7.6 hrs.</span>
                            <span class="badge down badge-danger badge-pill "><i class="fa fa-arrow-up" aria-hidden="true"></i> 1%</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="custom-badge badge-danger badge-round">U</span>
                        <div class="inner-aside">
                            <h3>Neptune</h3>
                            <span class="text-muted">Average work time 7.6 hrs.</span>
                            <span class="badge badge-pill up badge-success"><i class="fa fa-arrow-down" aria-hidden="true"></i> 1%</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="custom-badge badge-success badge-round">U</span>
                        <div class="inner-aside">
                            <h3>Mars</h3>
                            <span class="text-muted">Average work time 7.6 hrs.</span>
                            <span class="badge down badge-danger badge-pill "><i class="fa fa-arrow-down" aria-hidden="true"></i> 1%</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="custom-badge badge-danger badge-round">U</span>
                        <div class="inner-aside">
                            <h3>Neptune</h3>
                            <span class="text-muted">Average work time 7.6 hrs.</span>
                            <span class="badge badge-pill up badge-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> 1%</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                            <span class="custom-badge badge-success badge-round">U</span>
                            <div class="inner-aside">
                                <h3>Mars</h3>
                                <span class="text-muted">Average work time 7.6 hrs.</span>
                                <span class="badge down badge-danger badge-pill "><i class="fa fa-arrow-down" aria-hidden="true"></i> 1%</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span class="custom-badge badge-danger badge-round">U</span>
                            <div class="inner-aside">
                                <h3>Neptune</h3>
                                <span class="text-muted">Average work time 7.6 hrs.</span>
                                <span class="badge badge-pill up badge-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> 1%</span>
                            </div>
                        </li>             
                </ul>
            </div>

        </div>
    </div>

</div>