.navbar-nav {
  z-index: 1;
}
.hero-img {
  width: 54px;
  height: 54px;
  overflow: hidden;
  //margin: 0 auto 22px;
  margin-right: 15px;
  float: left;
  border: solid 1px rgba(27, 30, 57, 0.1);
  border-radius: 50%;
  img {
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 50%;
    border-radius: 50%;
    border: solid 2px rgba(27, 30, 57, 0.1);
  }
}
.user-profile{
  .profile-wrap{
    margin-bottom: 25px;
  }
  .user-name{
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    //color: $leftPanel;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 15.5px;
    padding-top: 5px;
  }
  p {
      margin-bottom: 10px;
  }
  .last-web-login{
    opacity: 0.6;
    font-size: 11px;
    line-height: 1.41;
    color: #000;
    letter-spacing: normal;
    margin-bottom: 25px;
  }
  .change-pwd{
    text-decoration: underline;
    display: inline-block;  
    //color: $black;
    opacity: 0.7;
    margin-top: 10px;
    font-size: 12px;
    &:hover{
      //color: $leftPanel;
      opacity: 1;
    }
  }
}
// For Aside Hamburger Wrapper CSS 
.side-wrapper{
  padding-left: 31px;
  padding-right: 31px;
  .breadcrumb{
    padding-left: 0;
    padding-right: 0;
  }
  .btn-link{
    font-size: 12px;
  }
  .save-content{
    .btn-wrap{
      padding: 14px 0 0 32px;
    }
    .list-group{
      font-size: 12px;
      text-transform: capitalize;
      .list-group-item {
        input[type=checkbox]{
          vertical-align: middle;
        }
        span{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }      
    .sub-title{
      text-transform: capitalize;
      font-weight: 600;
      color: #1b1e39;
      font-size: 13px;
    }
    .breadcrumb-wrap{
        padding-bottom: 36px;
        font-weight: 600;
        .breadcrumb{
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .text-muted{
          font-size: 11px;
          opacity: 0.6;
          color: #000 !important;
          font-weight: 400;
        }
    }
  }
  .report-content{
    .btn-wrap{
      padding-bottom: 36px;
    }
    .sub-title{
      .icon{
        padding-right: 10px;
        color: #c7c7c7;
        cursor: pointer;
      }
    }
    .table{
      font-size: 12px;
      color: #1b1e39;
      line-height: 1.29;
      th{
        border-top: none;
        border-bottom: 1px solid #ccc;
        padding-left: 0;
        color: #1b1e39;
        font-weight: 600;
      }
      td{
        border-top: 1px solid #ccc;
        padding: 10px 0 6px;
        .icon{
          color: #c7c7c7;
        }
      }
      tr:last-child{
        td{
          border-bottom: 2px solid #dedede;
        }
      }
    }
    .list-group{
      margin-top: 15px;
      .list-group-item{
        padding-top: 11px;
        textarea{
          resize: none;
          margin-top: 10px;
          border: 1px solid rgba(27, 30, 57, 0.1);
          border-radius: 2px;
        }
        &:last-child{
          border-bottom: none !important;
        }
      }
    }
  }
  .list-group{
    .list-group-item{
      border: none;
      border-top: solid 1px #dedcdc;
      padding: 9.5px 1px 13px;
      a{
        font-size: 13px;
        font-weight: 600;
        //color: $leftPanel;
      }
      .fa{
        font-size: 16px;
        color: #b4b5be;
      }
    }
  }
}
.side-wrapper .list-group-item:last-child{
  border-bottom: solid 1px #dedcdc;
}
.side-wrapper{
  .dashlet-content{
    .sub-title{
      padding-top: 11px;
    }
    .lead-content{
      .sub-title{
        font-size: 14px;
        text-transform: uppercase;
      }
    }
    .list-group{
      margin-bottom: 38px;
      margin-top: 15px;
      .list-group-item:last-child{
        border-bottom: solid 1px #dedcdc;
      }
    }
    .dashlet-grid{
      li{
        margin-bottom: 15px;
        .custom-checkbox{
          margin-bottom: 8px;
        }
        p{
          font-size: 11px;
          line-height: 1.41;
          opacity: 0.7;
          color: #1b1e39;
          margin-bottom: 20px;
        }
      }
    }
    .custom-checkbox{
      color: #979797;
      font-size: 13px;
      input[type=checkbox]:checked+.label-text:before{
        background: 0 0;
        text-align: center;
        line-height: 1.5em;
        color: #979797;
        content: '\2714';
      }
    }
  }
}
.user-profile,
.save-content{
  .list-group-item{
    &:last-child{
      border-bottom: solid 1px #dedcdc !important;
    }
  }
}
.side-wrapper .save-content{
  .list-group-item{
    &:first-child{
      border-top: none;
    }
  }
}
.reorder-3:before {
  content: "\e90a";
  color: #e6e6e6;
}
.dashlet-grid{
  height: 500px;
  overflow: auto;
  padding-top: 12px;
  padding-bottom: 25px;
}