<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ sharedService.breadCrumbText }}</li>
        <li class="breadcrumb-item"><span>DASHBOARD</span></li>
    </ol>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item d-md-down-none aside-toggle">
        <a #userProfile [ngClass]="{'active': userProfileContent, 'nav-link navbar-toggler': true}" name="userProfile" (click)="openSidebarWrapper($event, userProfile.name)" >
            <i class="icon ic-account"></i>
        </a>       
      </li>
      <li class="nav-item d-md-down-none  aside-toggle">
        <a #userSave [ngClass]="{'active': userSaveContent, 'nav-link navbar-toggler': true}"  name="userSave" (click)="openSidebarWrapper($event, userSave.name)"><i class="icon ic-save" aria-hidden="true"></i></a>    
      </li>
      <li class="nav-item d-md-down-none aside-toggle">
        <a #userReport [ngClass]="{'active': userReportContent, 'nav-link navbar-toggler': true}" name="userReport" (click)="openSidebarWrapper($event, userReport.name)"><i class="icon ic-share"></i></a>
      </li>
      <li class="nav-item d-md-down-none navbar-toggler aside-menu-toggler">
        <a class="nav-link"><i class="icon ic-filter-empty" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item d-md-down-none navbar-toggler aside-menu-toggler">
          <a #userConfigure [ngClass]="{'active': userConfigureContent, 'nav-link navbar-toggler': true}" name="userConfigure" (click)="openSidebarWrapper($event, userConfigure.name)"><i class="icon ic-configure" aria-hidden="true"></i></a>
      </li>     
    </ul>   
    <div id="sideDrawer" class="side-wrapper"  [ngClass]="{'active': isDrawerOpen}" (click)="clickedInside($event)">
        <div id="profileContent">
          <!-- user profile: starts -->
          <div class="user-profile" [hidden]="!userProfileContent">
            <div class="profile-wrap clearfix">
                <div class="hero-img img-circle">
                    <img src="data:image/gif;base64,{{imgBase64}}" title="User Profile Picture" alt="User Profile Picture">
                </div>
                <div class="pull-right">
                <h4 class="user-name"> {{ userName }}</h4>
                  <p class="last-web-login">Last Web Login: {{ lastLoginDateTime | date:'medium'}}</p>
                    <a (click)="logout()" class="btn btn-round btn-custom">Logout</a>
                  <p><a href="#" class="change-pwd">Change Password?</a></p>
                </div>
              </div>
              <ul class="list-group text-left">
                <li class="list-group-item justify-content-between">
                  <a href="">Help</a>
                  <i class="icon ic-new-page pull-right"></i>
                </li>
                <li class="list-group-item">
                  <a href="">Glossary</a>
                  <i class="icon ic-new-page pull-right"></i>
                </li>
                <li class="list-group-item">
                    <a href="">Art of Working</a>
                    <i class="icon ic-new-page pull-right"></i>
                </li>
                <li class="list-group-item">
                    <a href="">Release Notes</a>
                    <i class="icon ic-new-page pull-right"></i>
                </li>
              </ul>
          </div>  
          <!-- user profile: ends -->

          <!-- user save: starts -->
          <div id="saveContent" class="save-content" *ngIf="userSaveContent">
              <div class="breadcrumb-wrap">
                  <strong class="font-sm title-sm">Report Name:</strong>
                  <ol _ngcontent-c1="" class="breadcrumb text-uppercase">
                      <li _ngcontent-c1="" class="breadcrumb-item">{{ sharedService.breadCrumbText }}</li>
                      <li _ngcontent-c1="" class="breadcrumb-item"><a _ngcontent-c1="" href="#">DASHBOARD</a></li>
                  </ol>
                  <small class="text-muted">({{ sharedService.selectedDateRangeText }})</small>
              </div>
            <ul class="list-group text-left">
              <li class="list-group-item justify-content-between">
                <label for="excelReport" class="custom-checkbox">
                  <input id="excelReport" type="checkbox" name="checkbox">
                  <span class="label-text">Excel Report (21kb)</span>
                </label>
              </li>
              <li class="list-group-item">
                <label for="pdfReport" class="custom-checkbox">
                  <input id="pdfReport" type="checkbox" name="checkbox">
                  <span class="label-text">PDF Report (150kb)</span>
                </label>
              </li>
            </ul>
            <div class="btn-wrap">
              <button type="button" class="btn btn-custom btn-sm btn-round">Download Report</button>
              <button type="button" class="btn btn-link text-uppercase">Cancel</button>
            </div>
          </div>
          <!-- user save: ens -->

          <!-- user Support: starts -->
          <div id="reportContent" class="save-content report-content" *ngIf="userReportContent" >
              <div class="breadcrumb-wrap">
                  <strong class="font-sm sub-title">Report Name:</strong>
                  <ol _ngcontent-c1="" class="breadcrumb text-uppercase">
                      <li _ngcontent-c1="" class="breadcrumb-item">{{ sharedService.breadCrumbText }}</li>
                      <li _ngcontent-c1="" class="breadcrumb-item"><a _ngcontent-c1="" href="#">DASHBOARD</a></li>
                    </ol>
                  <small class="text-muted">({{ sharedService.selectedDateRangeText }})</small>
              </div>
            <h4 class="sub-title">Email Report</h4>
            <ul class="list-group text-left">
              <li class="list-group-item justify-content-between">
                  <label for="checkbox" class="custom-checkbox">
                    <input id="checkbox" type="checkbox" name="checkbox">
                    <span class="label-text">Email report to me</span>
                  </label>
              </li>
              <li class="list-group-item">
                  <label for="checkbox1" class="custom-checkbox">
                      <input id="checkbox1" type="checkbox" name="checkbox">
                      <span class="label-text">Email report to:</span>
                    </label>
                  <!-- <input type="checkbox" />
                  <span>Email report to:</span> -->
                  <textarea name="" id="" rows="2" class="form-control" placeholder="Email 1 or more email id's"></textarea>
              </li>
            </ul>
            <div class="btn-wrap">
              <button type="button" class="btn btn-custom btn-sm btn-round">Download Report</button>
              <button type="button" class="btn btn-link text-uppercase">Cancel</button>
            </div>
            <h4 class="sub-title">Subscribed Email Report (2) <span class="icon control_point pull-right"></span></h4>
            <table class="table">
                <thead>
                  <tr>
                    <th>Report Duration</th>
                    <th>Email Freq.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1 MTH</td>
                    <td>2 Weeks</td>
                    <td><span class="icon highlight_off"></span></td>
                  </tr>
                  <tr>
                    <td>1 Wk</td>
                    <td>Daily</td>
                    <td><span class="icon highlight_off"></span></td>
                  </tr>
                </tbody>
              </table>

          </div>
          <!-- user Support: ends -->

          <!-- configureContent: starts -->
            <div id="configureContent" class="save-content configure-content dashlet-content" *ngIf="userConfigureContent" >
              <div class="lead-content">
                  <h3 class="sub-title">Select Dashlets</h3>
                  <small class="text-muted"> Select any 4 Dashlets to view on your dashboard.</small>
              </div>
              <ol class="list-group text-left">
                <li class="list-group-item justify-content-between">
                    <span class="d-block">Lorem Ipsum 2
                        <a href="" class="pull-right"> <span class="icon reorder-3"></span></a>
                    </span>                    
                </li>
                <li class="list-group-item">
                    <span class="d-block">Lorem Ipsum 3 
                      <a href="" class="pull-right"> <span class="icon reorder-3"></span></a>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="d-block">Lorem Ipsum 4 
                      <a href="" class="pull-right"> <span class="icon reorder-3"></span></a>
                    </span>
                </li>
              </ol>
              <ul class="row dashlet-grid">
                <li class="col-md-6">
                  <label for="dashlet-1" class="custom-checkbox">
                    <input type="checkbox" name="" id="dashlet-1">
                    <label for="dashlet-1" class="label-text"></label>
                  </label>
                  <img src="assets/images/heat-map.svg" alt="Area Chart" class="img-fluid"/>
                  <h5 class="sub-title">HeatMap</h5>
                  <p>Lorem ipsum dolor sit amet, consecteu adipiscing elit.</p>
                </li>
                <li class="col-md-6">
                    <label for="dashlet-2" class="custom-checkbox">
                      <input type="checkbox" name="" id="dashlet-2">
                      <label for="dashlet-2" class="label-text"></label>
                    </label>
                    <img src="assets/images/trend-graph.svg" alt="Area Chart" class="img-fluid" />
                    <h5 class="sub-title">Trend Chart</h5>
                    <p>Lorem ipsum dolor sit amet, consecteu adipiscing elit.</p>
                  </li>
                  <li class="col-md-6">
                      <label for="dashlet-3" class="custom-checkbox">
                        <input type="checkbox" name="" id="dashlet-3">
                        <label for="dashlet-3" class="label-text"></label>
                      </label>
                    <img src="assets/images/laderboard.svg" alt="Area Chart" class="img-fluid"/>
                    <h5 class="sub-title">Laderboard</h5>
                    <p>Lorem ipsum dolor sit amet, consecteu adipiscing elit.</p>
                  </li>
                  <li class="col-md-6">
                      <label for="dashlet-4" class="custom-checkbox">
                        <input type="checkbox" name="" id="dashlet-4">
                        <label for="dashlet-4" class="label-text"></label>
                      </label>
                    <img src="assets/images/table-copy.svg" alt="Area Chart" class="img-fluid" />
                    <h5 class="sub-title">Lorem Ipsum 4</h5>
                    <p>Lorem ipsum dolor sit amet, consecteu adipiscing elit.</p>
                  </li>                 
              </ul>
          </div>
          <!-- configureContent: ends -->

        </div>
    </div>
  </header>