<footer>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
         class.xs="footer-xs">
        <div fxFlex="80">
        </div>
        <div fxFlex class="text-right" class.xs="footer-xs">
            <a href="https://angular.io/" target="_blank"><img src="assets/images/angular.svg"></a>
        </div>
    </div>
</footer>
