
    <nav [ngClass]="{'show': isOrgTreeOpen, 'navbar-static-top': true}"><!-- show-->
        <div class="topmenu-open" id="collapsingNavBar">
            <div class="dropdown mega-menu">
                <!-- <button class="navbar-toggler mega-nav-toggler d-md-down-none" type="button" (click)="openOrgTree($event)">
                <i class="icon ic-org-menu" aria-hidden="true"></i>
                </button> -->
                <div class="inner-container">
                <div class="top-breadcrumb-menu" style="opacity: 1;">
                    <div class="text-right clearfix lead-content">
                        <ol  class="breadcrumb pull-right">
                            <li  class="breadcrumb-item">
                                Poseidon Services
                            </li>
                            <li  class="breadcrumb-item">
                                <a  >Customer Support(Anvay Meshram):</a>
                                <ul class="list-inline">
                                    <li class="list-inline-item">Active Users: <strong>15</strong></li>
                                    <li class="list-inline-item">Dormant: <strong>11</strong></li>
                                    <li class="list-inline-item">Unregistered: <strong>9</strong></li>
                                    <li class="list-inline-item">Silent: <strong>1</strong></li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="menu-wrap" style="opacity: 1;">
                            
                    <div class="dropdown-nav dropdown-submenu-0">
                                    <div class="innerwrap">  
                                            <ul class="dropdown-item-wrap" >
                                                
                                                <li [ngClass]="{'dropdown-submenu':true, 'active': currentClickedNode === node.nodeID && isNodeclicked}" [attr.name]="node.nodeName" [attr.id]="node.nodeID" *ngFor="let node of orgTreeNode" (click)="renderOrgTree($event)">
                                                    <a class="dropdown-item" >
                                                        <div class="img-wrap">
                                                            <span [ngClass]="{
                                                            'custom-badge': true, 
                                                            'badge-danger': node.nodeStatus == 0,
                                                            'badge-warning': node.nodeStatus == 1,
                                                            'badge-success': node.nodeStatus == 2 }">{{node.nodeType}}</span>
                                                        </div>
                                                        <div class="content-wrap">
                                                        {{node.nodeName}}
                                                            <small>{{node.userName}} </small>
                                                            <span class="dropdown-icon"></span>
                                                        </div>
                                                    </a>                           
                                                </li>
                                                
                                                <!-- Footer in org Tree -->
                                                <li class="footer-bottom">
                                                &copy; 2010-18 Sapience Analytics - Version 3.2.0.831
                                                </li>
                                            </ul>
                                        </div>
                                    </div>      
                    </div>     
                    <!-- Ends -->
                    <div class="dropdown-nav dropdown-submenu-1">
                        <div class="innerwrap">
                            <ul class="dropdown-item-wrap">
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" >
                                            <div class="img-wrap">
                                                <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                <span class="custom-badge badge-warning">S</span>
                                            </div>
                                            <div class="content-wrap">
                                                Customer Support <small>anway meshram</small>
                                                <span class="dropdown-icon"></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-item-wrap">
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item" >
                                                        <div class="img-wrap">
                                                            <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                            <span class="custom-badge badge-success badge-block">P</span>
                                                        </div>
                                                        <div class="content-wrap">
                                                            Earth <small>nikita jadhao</small>
                                                            <span class="dropdown-icon"></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item" >
                                                        <div class="img-wrap">
                                                            <!-- <img src="../../assets/images/top-menu/ic-org-red.svg" alt=""> -->
                                                            <span class="custom-badge badge-block badge-danger">P</span>
                                                        </div>
                                                        <div class="content-wrap">
                                                            Mars
                                                            <small>darshan gajara</small>
                                                            <span class="dropdown-icon"></span>
                                                        </div>
                                                    </a>
                                                    <ul class="dropdown-item-wrap">
                                                            <li>
                                                                <a class="dropdown-item" >
                                                                    <div class="img-wrap">
                                                                        <span class="custom-badge badge-success">U</span>
                                                                    </div>
                                                                    <div class="content-wrap">
                                                                        Niraj manek
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" >
                                                                    <div class="img-wrap">
                                                                        <span class="custom-badge badge-success">U</span>
                                                                    </div>
                                                                    <div class="content-wrap">
                                                                        Ann smith
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" >
                                                                    <div class="img-wrap">
                                                                        <span class="custom-badge badge-success badge-muted">U</span>
                                                                    </div>
                                                                    <div class="content-wrap">
                                                                        Dhananjay kulkarni
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" >
                                                                    <div class="img-wrap">
                                                                        <span class="custom-badge badge-success badge-muted">U</span>
                                                                    </div>
                                                                    <div class="content-wrap">
                                                                        Jagdish jha (<span class="text-danger">!</span>)
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" >
                                                                    <div class="img-wrap">
                                                                        <span class="custom-badge badge-danger">U</span>
                                                                    </div>
                                                                    <div class="content-wrap">
                                                                        Sumin Shah
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item" >
                                                        <div class="img-wrap">
                                                            <!-- <img src="../../assets/images/top-menu/ic-org-yellow.svg" alt=""> -->
                                                            <span class="custom-badge badge-warning badge-block">P</span>
                                                        </div>
                                                        <div class="content-wrap">
                                                                Neptune
                                                            <small>sooraj B. R.</small>
                                                            <span class="dropdown-icon"></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item" >
                                                        <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                                <span class="custom-badge badge-success badge-block">P</span>
                                                            </div>
                                                        <div class="content-wrap">
                                                            Pluto
                                                            <small>neha sharma</small>
                                                            <span class="dropdown-icon"></span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item" >
                                            <div class="img-wrap">
                                                <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                <span class="custom-badge badge-warning">S</span>
                                            </div>
                                            <div class="content-wrap">
                                                Software development
                                                <small>bhaktisudha naithani</small>
                                                <span class="dropdown-icon"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class="dropdown-nav dropdown-submenu-2">
                            <div class="innerwrap">
                                <ul class="dropdown-item-wrap">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >
                                                <div class="img-wrap">
                                                    <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                    <span class="custom-badge badge-warning">S</span>
                                                </div>
                                                <div class="content-wrap">
                                                    Customer Support <small>anway meshram</small>
                                                    <span class="dropdown-icon"></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-item-wrap">
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                                <span class="custom-badge badge-success badge-block">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                Earth <small>nikita jadhao</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-red.svg" alt=""> -->
                                                                <span class="custom-badge badge-block badge-danger">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                Mars
                                                                <small>darshan gajara</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-item-wrap">
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Niraj manek
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Ann smith
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success badge-muted">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Dhananjay kulkarni
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success badge-muted">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Jagdish jha (<span class="text-danger">!</span>)
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-danger">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Sumin Shah
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-yellow.svg" alt=""> -->
                                                                <span class="custom-badge badge-warning badge-block">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                    Neptune
                                                                <small>sooraj B. R.</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                    <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                                    <span class="custom-badge badge-success badge-block">P</span>
                                                                </div>
                                                            <div class="content-wrap">
                                                                Pluto
                                                                <small>neha sharma</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >
                                                <div class="img-wrap">
                                                    <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                    <span class="custom-badge badge-warning">S</span>
                                                </div>
                                                <div class="content-wrap">
                                                    Software development
                                                    <small>bhaktisudha naithani</small>
                                                    <span class="dropdown-icon"></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                    </div>
                    <!-- Ends  -->
                    <div class="dropdown-nav dropdown-submenu-3">
                            <div class="innerwrap">
                                <ul class="dropdown-item-wrap">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >
                                                <div class="img-wrap">
                                                    <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                    <span class="custom-badge badge-warning badge-block">S</span>
                                                </div>
                                                <div class="content-wrap">
                                                    Customer Support <small>anway meshram</small>
                                                    <span class="dropdown-icon"></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-item-wrap">
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                                <span class="custom-badge badge-success badge-block">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                Earth <small>nikita jadhao</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-red.svg" alt=""> -->
                                                                <span class="custom-badge badge-block badge-danger">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                Mars
                                                                <small>darshan gajara</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-item-wrap">
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Niraj manek
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Ann smith
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success badge-muted">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Dhananjay kulkarni
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success badge-muted">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Jagdish jha (<span class="text-danger">!</span>)
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-danger">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Sumin Shah
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-yellow.svg" alt=""> -->
                                                                <span class="custom-badge badge-warning badge-block">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                    Neptune
                                                                <small>sooraj B. R.</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                    <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                                    <span class="custom-badge badge-success badge-block">P</span>
                                                                </div>
                                                            <div class="content-wrap">
                                                                Pluto
                                                                <small>neha sharma</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >
                                                <div class="img-wrap">
                                                    <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                    <span class="custom-badge badge-muted badge-block">S</span>
                                                </div>
                                                <div class="content-wrap">
                                                    Software development
                                                    <small>bhaktisudha naithani</small>
                                                    <span class="dropdown-icon"></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    <!-- Ends -->
                    <div class="dropdown-nav dropdown-submenu-4">
                            <div class="innerwrap">
                                <ul class="dropdown-item-wrap">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >
                                                <div class="img-wrap">
                                                    <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                    <span class="custom-badge badge-warning">S</span>
                                                </div>
                                                <div class="content-wrap">
                                                    Customer Support <small>anway meshram</small>
                                                    <span class="dropdown-icon"></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-item-wrap">
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                                <span class="custom-badge badge-success badge-block">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                Earth <small>nikita jadhao</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-red.svg" alt=""> -->
                                                                <span class="custom-badge badge-block badge-danger">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                Mars
                                                                <small>darshan gajara</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-item-wrap">
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Niraj manek
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Ann smith
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success badge-muted">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Dhananjay kulkarni
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-success badge-muted">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Jagdish jha (<span class="text-danger">!</span>)
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" >
                                                                        <div class="img-wrap">
                                                                            <span class="custom-badge badge-danger">U</span>
                                                                        </div>
                                                                        <div class="content-wrap">
                                                                            Sumin Shah
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                <!-- <img src="../../assets/images/top-menu/ic-org-yellow.svg" alt=""> -->
                                                                <span class="custom-badge badge-warning badge-block">P</span>
                                                            </div>
                                                            <div class="content-wrap">
                                                                    Neptune
                                                                <small>sooraj B. R.</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown-submenu">
                                                        <a class="dropdown-item" >
                                                            <div class="img-wrap">
                                                                    <!-- <img src="../../assets/images/top-menu/ic-org-green.svg" alt=""> -->
                                                                    <span class="custom-badge badge-success badge-block">P</span>
                                                                </div>
                                                            <div class="content-wrap">
                                                                Pluto
                                                                <small>neha sharma</small>
                                                                <span class="dropdown-icon"></span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >
                                                <div class="img-wrap">
                                                    <!-- <img alt="" src="../../assets/images/top-menu/ic-org-red.svg"> -->
                                                    <span class="custom-badge badge-warning">S</span>
                                                </div>
                                                <div class="content-wrap">
                                                    Software development
                                                    <small>bhaktisudha naithani</small>
                                                    <span class="dropdown-icon"></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                    </div>
                        <!-- Ends -->
        
                </div> 
                <!-- inner container-->
            </div>
        </div>
        <div class="pull-right icon-aside">
            <ul>
                <li>
                    <a>
                        <span class="icon magnifying-glass"></span>
                    </a>
                </li>
                <li>
                <a>
                    <i  aria-hidden="true" class="icon ic-filter-empty"></i>
                </a>
                </li>
            </ul>
        </div>                           
          <!-- org tree: starts-->                 
    </nav>