<div>
    <!-- Below is content for login page, no other components are added -->
    <div class="bg-login">
        <div class="container">
            <div class="float-right">
                <div class="p-2 card card-round login-wrap">
                    <div class="card-body">
                        <img src="assets/images/logo.png" alt="Sapience" class="Sapience" />
                        <div class="confirm-password-innerwrap">
                            <!-- <p class="text-muted">Sign In to your account</p> -->
                            <div *ngIf="isInvalidPwds" class="alert alert-danger" role="alert">
                                <span class="fa fa-warning"></span>Passwords entered do not match. Please try again.
                            </div>
                            <div class="input-group mb-3">
                                <label for="npw">New Password</label>
                                <span class="input-group-addon"><span class="icon lock_outline"></span></span>
                                <input type="password" name="npw" [(ngModel)]="model.newPassword" #password="ngModel" class="form-control">
                            </div>
                            <div class="input-group mb-4">
                                <label for="cpw">Confirm Password</label>
                                <span class="input-group-addon"><span class="icon lock_outline"></span></span>
                                <input type="password" name="cpw" (keypress)="updatepwd($event)" [(ngModel)]="model.confirmPassword" #password="ngModel" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-custom btn-round" (click)="changePwd()">OK</button>
                                    <button type="button" class="btn btn-link btn-cancel text-uppercase" (click)="cancelConfirmPwd()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <footer class="footer-text"> &copy;2010-18 Sapience Analytics - Version {{ sapienceVersion }}</footer>
                    </div>
                </div>
            </div>
            <div class="text-white float-right login-slider" >
                <!--Carousel Wrapper-->
                <app-login-carousel></app-login-carousel>
                <!--/.Carousel Wrapper-->
            </div>

        </div>
    </div>
</div>
<!-- /.conainer-fluid -->