<!-- This will load other components after user has been authenticated like main menu and RHS menu -->
<div>
  <app-nav></app-nav>
  <div class="app-body">        
      <app-sidebar></app-sidebar>
      <!-- Main content -->
      <main class="main">
          <div class="container-fluid">              
            <router-outlet></router-outlet>
          </div>
          <!-- /.conainer-fluid -->
      </main>
  
      <app-aside-drawer></app-aside-drawer>
  </div>
</div>