* {
  font-family: 'SourceSansPro', sans-serif;
}

a, .cp {
  cursor: pointer;
}

.section-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  padding: 1em 0 0;
}

.flex-spacer {
  flex-grow: 1;
}

.progress-spinner {
  height: 60px !important;
  margin: 2em auto;
}

snack-bar-container {
  background: #3f51b5 !important;
}

.mat-menu-content {
  background: #3f51b5;
}

.mat-menu-item, .mat-menu-item .mat-icon {
  color: white;
  font-weight: 100;
}

.like-icon {
  color: #DC143C;
  cursor: pointer;
}

.mat-raised-button[disabled] {
  background: #bbb !important;
}

.mat-dialog-container {
  background: #3f51b5;
  color: white;
}

.mat-dialog-content {
  text-align: center;
  padding: 1em 24px !important;
}

.mat-dialog-title {
  text-align: center;
}

.mat-card-image {
  margin-bottom: -28px !important;
  border-top: 1px solid #eee;
}

.mat-list-avatar {
  height: 55px !important;
  width: 55px !important;
}

.text-right {
  text-align: right;
}
