.carousel {
    position: relative;
    //box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    overflow: hidden;
    width: 358px;
    margin: 0 auto;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    // width: 100%;
    width: 1432px;
    -webkit-animation: slide 18s ease infinite;
}

@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -358px;}
    50% {margin-left: -358px;}
    60% {margin-left: -716px;}
    70% {margin-left: -716px;}
    80% {margin-left: -1074px;}
    90% {margin-left: -1074px;}
  }
  
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
   // position: absolute;
   // opacity: 0;
    // -webkit-transition: opacity 0.6s ease-out;
    // transition: opacity 0.6s ease-out;
    float: left;
    width: 358px;
    display: inline-block;
    // -moz-animation:carousel 30s infinite;
    // -webkit-animation:carousel 30s infinite;
    // animation:carousel 30s infinite;
    .item-text {
        font-size:21px;
        color: #1b1e39;  
        padding-bottom: 65px;
        text-align: center;
        line-height:25px;
        position: relative;
        top: 50px;
        em {
            font-weight: 600;
        }      
    }
    .item-img {
        min-height: 270px;
    }
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-3 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.carousel-item{ float:none !important; }

.banner{
    width: 370px;
}  
.ngxcarousel > .ngxcarousel-inner > .ngxcarousel-items > .item {
    padding:0 30px;
}



.bannerStyle h1 {
    background-color: #ccc;
    min-height: 300px;
    text-align: center;
    line-height: 300px;
}
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
    display: none !important;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
    display: none !important;
}

