<ngx-carousel
[inputs]="carouselOne"
(carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem>

    <div class="carousel-item">
        <div class="item-img">
                <img src="assets/images/login/guesswork.png" alt="guesswork">
        </div>            
        <p class="item-text">
            Stop Running your Business on <em>GUESSWORK</em>
        </p>
    </div>            
    
  </ngx-item>
  <ngx-item NgxCarouselItem>

    <div class="carousel-item">
        <div class="item-img">
                <img src="assets/images/login/high-performance.png" alt="high-performance">
        </div>            
        <p class="item-text">
            Outsourcing Governance Practice <em>MADE EASY</em>
        </p>
    </div>
    
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="carousel-item">
        <div class="item-img">
                <img src="assets/images/login/made-easy.png" alt="made-easy">
        </div>            
        <p class="item-text">
            Make Teams 20%  <em>MORE PRODUCTIVE</em> Without Any Process Change
        </p>            
    </div>            
  </ngx-item>


  <ngx-item NgxCarouselItem>
    <div class="carousel-item">
        <div class="item-img">
                <img src="assets/images/login/more-productivity.png" alt="more-productivity">
        </div>            
        <p class="item-text">
            Elevate Employee Engagement to Support <em>HIGH PERFORMANCE</em>
        </p>     
    </div>
  </ngx-item>


  
  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>