.card {
    width: 384px;
    height: 456px;
    margin: 0px;
}
.login-innerwrap {
    padding-bottom: 72px;
    .forget-link {
        margin-top: 5px;
    }
    .ic-account-selected:before{
        top: 1px;
        position: relative;
        left: 1px;
    }
    .lock_outline:before {
        top: 2px;
        position: relative;
        left: 1px;
    }
   
}
.login-wrap  .footer-text {
    padding-bottom: 0;
}
.login-slider {
    margin-top: 20px;
    margin-right: 15%;
}
.login-wrap .input-group .form-control {
    padding-top: 10px;
    height: 35px;
}
.bg-login .container {
    width: 100%;
    padding-right: 144px;
    min-width: 100%;
    max-width: 100%;
}
@media screen and (max-width: 1099px){
.login-slider {
    margin-right: 10%;
  }
  .bg-login .container {
    padding-right: 72px;
  }
}
@media screen and (min-width: 1600px){
    .login-slider {
      margin-right: 12%;
    }
    .bg-login .container {
      padding-right: 216px;
    }
  }
  
  @media screen and (min-width: 2560px){
    .login-slider {
      margin-right: 9%;
    }
    .bg-login .container {
      padding-right: 286px;
    }
}  